<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ergasia 2025 2026 Thema1" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Ergasia 2025 2026 Thema1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav style="background-color: #f8f9fa; padding: 10px; border-bottom: 1px solid #ddd; display: flex; justify-content: space-between;">
      <div>
        <%= link_to "Our portal.", root_path, style: "font-weight: bold; text-decoration: none; color: black;" %>
      </div>

      <div>
        <% if user_signed_in? %>
          <span style="margin-right: 10px;">Γεια σου, <%= current_user.email %>!</span>
          <%= link_to "Επεξεργασία Προφίλ", edit_user_registration_path, style: "margin-right: 10px;" %>
          
          <%= button_to "Αποσύνδεση", destroy_user_session_path, method: :delete, style: "cursor: pointer;" %>
          
        <% else %>
          <%= link_to "Είσοδος", new_user_session_path, style: "margin-right: 10px;", data: { turbo: false } %>
          <%= link_to "Εγγραφή", new_user_registration_path, data: { turbo: false } %>
        <% end %>
      </div>
    </nav>

    <p style="color: green"><%= notice %></p>
    <p style="color: red"><%= alert %></p>

    <%= yield %>

  </body>
</html>